body{
    margin:0px;
}
a{
    cursor:pointer;
}
.topMenu{
    margin:0px;
    border:2.5px solid #0000FF;
    background:#00FFFF;
    width:100%;
}
header{
    text-align:center;
}
section{
    text-align:center;
}
.split{
    display:flex;
    justify-content:space-between;
}
.centerLeftSentence{
    display:inline-block;
    text-align:left;
}