body{
    margin:0px;
    background-color:#BBFFBB;
}
a{
    cursor:pointer;
}
#introduction a{
    text-decoration:none;
    margin-left:3px;margin-right:3px;
}
.topMenu{
    margin:0px;
    border:2.5px solid #4444FF;
    background:#88FFFF;
    width:100%;
}
header{
    text-align:center;
}
section{
    text-align:center;
}
.split{
    display:flex;
    justify-content:space-between;
}
.centerLeftSentence{
    display:inline-block;
    text-align:left;
}
.childElement{
    display:inline-block;
    width:100%;
}
.parentElement{
    display:flex;
    justify-content:space-between;
}
.back{
    background-color:#88FF88;
}